@{
    Layout = null;
}

@model ShopEngine.Frontend.Models.Layout.LayoutViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Unishop | Universal E-Commerce Template
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Unishop - Universal E-Commerce Template">
    <meta name="keywords" content="shop, e-commerce, modern, flat style, responsive, online store, business, mobile, blog, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Rokaux">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon and Apple Icons-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/touch-icon-ipad-retina.png">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" href="/content/css/font-awesome/all.css">
    <link rel="stylesheet" media="screen" href="/content/css/vendor.min.css">
   
    <!-- Main Template Styles-->
    <link rel="stylesheet" media="screen" href="/content/css/styles.css">
    <link rel="stylesheet" media="screen" href="/content/css/custom.css">
    <link rel="stylesheet" media="screen" href="/content/css/typeahead.css">
    <!-- Modernizr-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/vendor.min.js"></script>
    <script src="/js/scripts.min.js"></script>
    <script type="text/javascript" src="/js/typeahead.bundle.min.js"></script>
    
    @Styles.Render("~/bundles/pluginsCss")

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/pluginsJs")
    @Scripts.Render("~/bundles/core")

    <script type="text/javascript" src="@Url.Action("Resources", "Scripts", new { Area = "Other" })"></script>
    <script type="text/javascript" src="@Url.Action("Urls", "Scripts", new { Area = "Other" })"></script>

    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript">
        app.init();
        app.Services.vueJsComponentInitializer.initUiComponents();
        app.Pages.init('Layout');
    </script>

    @RenderSection("scripts", false)
</head>
<!-- Body-->
<body>
    @Html.Partial("Header", Model.Header)
    @RenderBody()
  
    @Html.Partial("Footer", Model.Footer)
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-chevron-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>

    @Html.Action("Context", "Scripts", new { Area = "Other", pageModel = this.Model })
</body>
</html>