@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShopEngine.Frontend.Areas.Shopping.Models.ProductViewModel

@section scripts
{
    <script type="text/javascript">
        app.Pages.init('Product');
    </script>
}

<div id="productPage">
    @Html.Partial("Sitemap", Model)
    <!-- Page Content-->
    <div class="container padding-bottom-3x">
        <div class="row">
            <!-- Poduct Gallery-->
            <div class="col-md-6">
                <div class="product-gallery">
                    @if (Model.IsSale)
                    {
                        <span class="product-badge bg-danger">Sale</span>
                    }
                    <div class="product-carousel owl-carousel gallery-wrapper">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            var image = Model.Images[i];

                            <div class="gallery-item" data-hash="@("img_" + i)">
                                <a href="@image.Link.Link" data-size="1000x667">
                                    <img src="@image.Source" alt="@image.Alt">
                                </a>
                            </div>
                        }
                    </div>
                    <ul class="product-thumbnails">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            var image = Model.Images[i];

                            <li><a href="#@("img_" + i)"><img src="@image.Thumb" alt="@image.Alt"></a></li>
                        }
                    </ul>
                </div>
            </div>
            <!-- Product Info-->
            <div class="col-md-6">
                <div class="padding-top-2x mt-2 hidden-md-up"></div>
                <span class="h3 d-block">
                    @if (Model.OldPrice.HasValue)
                    {
                        <del class="text-muted">$@Model.OldPrice</del><text>&nbsp;</text>
                    }
                    $@Model.Price
                </span>
                <div class="pt-1 mb-2"><span class="text-medium">Description</span></div>
                <p>@Model.Description</p>
                <ui-add-to-cart v-bind:init-data="model"></ui-add-to-cart>
                <div class="pt-1 mb-4"><span class="text-medium">SKU:</span> #@Model.Sku</div>
                <hr class="mb-2">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="mt-2 mb-2">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist"><i class="icon-heart"></i>&nbsp;To Wishlist</button>
                        <button class="btn btn-outline-secondary btn-sm btn-compare"><i class="icon-repeat"></i>&nbsp;Compare</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details-->
    @if (Model.Specifications.Count > 0)
    {
        <div class="bg-secondary padding-top-3x padding-bottom-2x mb-3" id="details">
            <div class="container">
                <h3 class="h3">Specifications</h3>
                @for (int i = 0; i < Math.Ceiling((decimal)Model.Specifications.Count / 2); i++)
                {
                    var sp1 = Model.Specifications[i];

                    <div class="row">
                        <div class="col-md-6">
                            <div class="characteristics-full-item">
                                <div class="characteristics-full-label"><strong>@sp1.Name</strong></div>
                                <div class="characteristics-full-value">
                                    <span>@sp1.Value</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @{
                                int ind2 = i + (int)Math.Ceiling((decimal)Model.Specifications.Count / 2);
                            }
                            @if (Model.Specifications.Count > ind2)
                            {
                                var sp2 = Model.Specifications[ind2];

                                <div class="characteristics-full-item">
                                    <div class="characteristics-full-label"><strong>@sp2.Name</strong></div>
                                    <div class="characteristics-full-value">
                                        <span>@sp2.Value</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                  }
            </div>
        </div>
   }

    <div class="container padding-bottom-3x mb-1">
        <!-- Related Products Carousel-->
        <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">You May Also Like</h3>
        <!-- Carousel-->
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6" v-for="item in relatedProducts">
                <ui-product-item v-bind:init-data="item"></ui-product-item>
            </div>
        </div>
    </div>
</div>
