@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShopEngine.Frontend.Areas.Shopping.Models.BrowseByCategoryViewModel

@section scripts
{
    <script type="text/javascript">
        app.Pages.init('BrowseByCategory');
    </script>
}

<div>
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>@Model.Category.Name</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    @foreach (var item in Model.SiteMap.Where(x => x != Model.SiteMap.Last()))
                    {
                        <li class="separator">&nbsp;</li>
                        <li><a href="@Url.Action(item.Link)">@item.Text</a></li>
                    }
                    <li class="separator">&nbsp;</li>
                    <li>@Model.SiteMap.Last().Text</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <div class="row">
            <!-- Products-->
            <div class="col-lg-9 order-lg-2">
                <!-- Promo banner-->
                @if (Model.CategoryBanner != null)
                {
                    <a class="alert alert-default alert-dismissible fade show fw-section mb-30" href="shop-grid-ls.html" style="background-image: url(img/banners/shop-banner-bg.jpg);">
                        <span class="alert-close" data-dismiss="alert"></span>
                        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center">
                            <div class="mx-auto mx-md-0 px-3 pb-2 text-center text-md-left">
                                <h3 class="text-gray-dark">@Model.CategoryBanner.Title</h3>
                                <p class="d-inline-block bg-warning text-white">&nbsp;&nbsp;Shop Now&nbsp;<i class="icon-chevron-right d-inline-block align-middle"></i>&nbsp;</p>
                            </div><img class="d-block mx-auto mx-md-0" src="@Model.CategoryBanner.Image" alt="Surface Pro 4">
                        </div>
                    </a>
                }

                <div id="productsView"></div>
            </div>
            <!-- Sidebar          -->
            <div class="col-lg-3 order-lg-1">
                <div class="sidebar-toggle position-left"><i class="icon-filter"></i></div>
                <aside class="sidebar sidebar-offcanvas position-left">
                    <span class="sidebar-close"><i class="icon-x"></i></span>
                    <section id="priceRange"></section>
                    <section id="optionsFilter"> </section>
                </aside>
            </div>
        </div>
    </div>
</div>
